#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.error-message {
  color: firebrick;
  font-weight: bold;
}

.error {
  color: firebrick;
  font-weight: bold;
}

.no-bg-button {
  background: none;
  border: none;
  font-weight: bold;
  color: green;
  cursor: pointer;
}
